.byu-pannel{
  display: grid;
  grid-template-areas: 
  "byu-b byu-b byu-typer byu-typer"
  "byu-b byu-b byu-title byu-year"
  "byu-b byu-b byu-desc byu-desc"
  "byu-b byu-b byu-desc byu-desc"
  "byu-b byu-b byu-skill byu-skill";
  grid-gap: 15px;
}

.byu-typer{
  grid-area: byu-typer;
}

.byu-b{
  grid-area: byu-b;
  width: 500px;
}

.byu-title{
  grid-area: byu-title;
}

.byu-year{
  grid-area: byu-year;
}

.byu-desc{
  grid-area: byu-desc;
}

.byu-skill{
  grid-area: byu-skill;
  color:rgba(98,144,199, .9);
  grid-gap: 15px;
}

.byu-normal{
  border-radius: 15px;
  color: #001c55;
  background-color: white;
  border: solid white 1px;
  padding: 15px;
}

.byu-skills{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.byu-skills img{
  max-width: 128px;
}

.byu-projects{
  padding: 10px;
  border-radius: 15px;
}
