.gm-pannel{
  display: grid;
  grid-template-areas: 
  "gm-b gm-b gm-typer gm-typer"
  "gm-b gm-b gm-title gm-year"
  "gm-b gm-b gm-desc gm-desc"
  "gm-b gm-b gm-desc gm-desc";
  /* "gm-b gm-b gm-skill gm-skill"; */
  grid-gap: 15px;
}

.gm-typer{
  grid-area: gm-typer;
}

.gm-b{
  grid-area: gm-b;
  width: 500px;
}

.gm-title{
  grid-area: gm-title;
}

.gm-year{
  grid-area: gm-year;
}

.gm-desc{
  grid-area: gm-desc;
}

.gm-skill{
  grid-area: gm-skill;
  color: white;
  grid-gap: 15px;
}

.gm-normal{
  border-radius: 15px;
  /* background-color: white; */
  /* color: #22559e; */
  padding: 15px;
}

.gm-skills{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gm-skills img{
  max-width: 128px;
}

.gm-projects{
  padding: 10px;
  background-color: rgba(98,144,199, .9);
  border-radius: 15px;
}
